.app-container {
    display: flex;
  }
  
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.dashboard-container.light {
    background-color: white;
    color: black;
}

.dashboard-container.dark {
    background-color: black;
    color: white;
}
  
table {
    width: 100%;
}
  
button {
    cursor: pointer;
}
  